<h2>Add an exercise to your workout</h2>
<form action='/workouts/<%=individual_workout['id']%>' method="POST">
  <label for="exercise">
    Exercise name:
  </label>
  <input type="text" name="exercise">

  <label for="image_url">
    Exercise image:
  </label>
  <input type="text" name="image_url">

  <label for="weight">
    Weight:
  </label>
  <input type="text" name="weight">

  <label for="reps">
    Reps:
  </label>
  <input type="text" name="reps">

  <label for="sets">
    Sets:
  </label>
  <input type="text" name="sets">

  <input type="submit">

</form>