<h2>Add an exercise to your workout</h2>
<% if is_logged_in? %>
  <main class="add-exercise">
    <form action="/workouts/<%=workout_id%>" method="POST" class="add-exercise-form">
      <div>
        <label for="exercise_name">
          Exercise name:
        </label>
        <input type="text" name="exercise_name">
      </div>

      <div>
        <label for="image_url">
          Exercise image:
        </label>
        <input type="text" name="image_url">
      </div>

      <div>
        <label for="weight">
          Weight:
        </label>
        <input type="text" name="weight">
      </div>

      <div>
        <label for="reps">
          Reps:
        </label>
        <input type="text" name="reps">
      </div>

      <div>
        <label for="sets">
          Sets:
        </label>
        <input type="text" name="sets">
      </div>

      <div>
        <label for="notes">
          Notes:
        </label>
        <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
      </div>

      <input type="submit">
      
    </form>
  </main>
  
<% else %>
  <p><%=error_message%></p>
<% end %>


