<main class="about">
  <p>
    This is a workout routine log app created using HTML/CSS, Ruby Sinatra and Postgres, all deployed on Heroku.
    Using this app, the user can log their workouts with exercise name, images, weights, reps and sets as well as notes per exercise.
    Give it a go!
  </p>
</main>