<%# welcome page %>
<main class="landing">
<% if is_logged_in? %>
  <h2>Hello, <%=current_user['username']%></h2>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="logout"/>
  </form>
  <a href="/workouts"> see your workouts</a> or 
  <a href="/workouts/create"> create a workout </a>
</main>
<% else %>
<h2>Welcome!</h2>
  <section class="login-signup">
    <a href="/login">sign in to your account</a> or
    <a href="/sign_up">sign up for a new account</a>
  </section> 
</main>
<% end %>


