<%# welcome page %>
<h2>Hello,</h2>
<main class="landing">
<% if is_logged_in? %>
  <%=current_user['username']%>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="logout"/>
  </form>
  <a href="/workouts"> see your workouts</a> or 
  <a href="/workouts/create"> create a workout </a>
</main>
<% else %>
  <p>
    <a href="/login">sign in to your account</a> or
    <a href="/sign_up">sign up for a new account</a>
  </p> 
</main>
<% end %>
