body {
  background-color:#F0F0F2;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
header {
  background-color: #8EB1BF;
  margin: 0;
  position: relative;
}
h1 {
  color: white;
  margin: 0;
  padding: 80px 0;
  font-family: 'Yeseva One', cursive;
  font-size: 50px;
  font-weight: lighter;
}
h1, h2, main, p {
  margin-left: 15%;
}
p, h2 {
  color:rgb(44, 44, 44)
}
h2 {
  font-size: 30px;
  margin-bottom:10px;
}
span {
  font-size: 13px;
}
main {
  margin-top: 50px;
}
input[type=submit], button, button a {
  border:solid transparent;
  border-radius: 4px;
  background-color: #9bb288;
  color: white;
}
button a {
  text-decoration: none;
}
.landing h2 {
  margin: 0;
}
.header-image {
  width: 300px;
  float: right;
  position: absolute;
  top: 10px;
  right: 10%;
}
.header-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 5px white;
}
nav {
  text-align: center;
  background: #adc9d4;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  font-size: 0;
  font-weight: bold;
}
nav li {
  display: inline-block;
  padding: 1em;
  font-size: 16px;
  transition: 1s;
}
nav li:hover {
  background: #9bb288;
  border-radius: 15%;
  transition: 1s;
}
nav a {
  color: rgb(237, 237, 237);
  text-decoration: none;
  transition: 1s;
}
nav a:hover {
  color: #FCFCFC;
  text-decoration: none;
  transition: 1s;
}
.workouts-list ul {
  list-style-type: none;
}
.workouts-list li {
  padding: 5px;
  padding-left: 15px;
  width: 300px;
  background: #8EB1BF;
  margin: 5px;
  transition: 0.5s;

}
.workouts-list li:hover {
  background: #9bb288;
  transition: 0.5s;

}
.workouts-list a{
  text-decoration: none;
  color: #FCFCFC;
}

main.individual-routine {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap:10px;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  color:rgb(31, 31, 31);
  margin-top: 30px;
}
.individual-routine li {
  list-style: none;
}
#exercise-name {
  font-size:1.5em;
}
.exercise-details img {
  width:200px;
  height:200px;
  object-fit: cover;
}
main.about {
  margin:0 auto;
  width: 600px;
  margin-top: 10%;
}
.sign-up p {
  margin: 0;
}
.sign-up-form div, .login-form div, .update-exercise-form div, .add-exercise-form div {
  margin-bottom: 10px;
}
.add-delete {
  margin-left: 15%;
}
div.exercise-details {
  background-color:rgb(225, 225, 225);
  border-radius: 10px;
}
.empty-workout p {
  margin: 0;
}