<h2>Log into your account</h2>
<main class="login">
  <p><%=error_message%></p>

  <form action="/sessions" method="POST">
    <div class="email-entry">
      <label for="email">Email:</label>
      <input type="text" name="email">
    </div>

    <div class="password-entry">
      <label for="password">Password:</label>
      <input type="password" name="password">
    </div>
    <input type="submit" value="login">
  </form>
</main>
