<h2>Sign up for your fitness tracker account!</h2>
<main class="sign-up">
<p><%=message%></p>
  <form action="/users" method="POST" class="sign-up-form">
    <div class="email-entry">
      <label for="email">Email:</label>
      <input type="text" name="email">
    </div>

    <div class="username-entry">
      <label for="username">Username:</label>
      <input type="text" name="username">
    </div>

    <div class="password-entry">
      <label for="password">Password:</label>
      <input type="password" name="password">
    </div>
    <input type="submit" value="create account">
  </form>
</main>
